@model IEnumerable<travelH2tour.Models.NHANVIEN>


@foreach (var item in Model)
{
    <div class="col-lg-3 col-md-4 col-sm-6 pb-2">
        <div class="team-item bg-white mb-4">
            <div class="team-img position-relative overflow-hidden">
                <img class="img-fluid w-100" src="~/img/@item.HINHNHANVIEN" alt="@item.TENNV">
                <div class="team-social">
                    <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-primary btn-square" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="text-center py-4">
                <h5 class="text-truncate">@item.TENNV</h5>
                <p class="m-0">Số Tour Đã Hoàn Thành : @item.SOTOURHOANTHANH</p>
            </div>
        </div>
    </div>
}