
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contact</h2>
@Html.BeginForm(){
@Html.ValidationSummary(true)
<form>
    <input type="submit" value="submit" />
</form>
}

