
@{
    ViewBag.Title = "DatTourThatBai";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">

    .payment {
        border: 1px solid;
        height: 280px;
        border-radius: 20px;
        background: #fff;
    }

    .payment_header {
        padding: 20px;
        border-radius: 20px 20px 0px 0px;
    }

    .check {
        margin: 0px auto;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: #fff;
        text-align: center;
    }

        .check i {
            vertical-align: middle;
            line-height: 50px;
            font-size: 30px;
        }

    .content {
        text-align: center;
        padding: 0 20px;
    }

        .content h1 {
            font-size: 25px;
            padding-top: 25px;
        }

        .content a {
            width: 200px;
            height: 35px;
            color: #fff;
            border-radius: 30px;
            padding: 5px 10px;
            transition: all ease-in-out 0.3s;
        }

            .content a:hover {
                text-decoration: none;
                background: #000;
            }
</style>
<div class="container>
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="payment">
                <div class="payment_header bg-primary">
                    <div class="check"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
                </div>
                <div class="content">
                    <h1>Opps ! Something Went Wrong</h1>
                    <p>There was an error during checkout, please try again in a few minutes, we sincerely apologize. </p>
                    <a class="bg-primary" href="@Url.Action("Index","Home")"</a>
                </div>

            </div>
        </div>
    </div>
</div>
@ViewBag.Loi, @ViewBag.Error

