
@using (Html.BeginForm("FindText", "TimKiem"))
{
    <!-- Search form -->
    <form class="form-inline d-flex justify-content-center md-form form-sm active-cyan active-cyan-2 mt-2">
        <table>
            <tr>
                <td>
                    <input style=" border-radius: 20px; width: 790px; height: 50px; margin: 10px" class="form-control form-control-sm ml-3" type="text" placeholder="Search"
                           aria-label="Search" name="txtSearch">
                </td>
                <td>
                    <input type="submit" class="btn btn-success" aria-hidden="true" />
                </td>
            </tr>
        </table>
    </form>
}
